//-------------------------
//--------MIXIN BREAKPOINTS
//-------------------------

/* EXAMPLE
*    @include breakpoint (phone) {
*        width: 40%;
*    }
*/



@mixin breakpoint($point) {
    @if $point == desktop--Biggest {//max-width = 1536px
        @media (min-width: $desktop--Biggest)                 { @content; }
    }
    @if $point == desktop--Big {//max-width = 1536px
        @media (min-width: $desktop--Big)                 { @content; }
    }
    @if $point == desktop--Large {//max-width = 1700px
        @media (min-width: $desktop--Large)                 { @content; }
    }
    @if $point == desktop {//max-width = 1440px
        @media (max-width: $desktop)                        { @content; }
    }
    @if $point == desktop--Small {//max-width = 1280px
        @media (max-width: $desktop--Small)                 { @content; }
    }
    @else if $point == ipad--Landscape {//max-width = 1024px
        @media (max-width: $ipad--Landscape)                         { @content; }
    }
    @else if $point == tablet {//max-width = 1023px
        @media (max-width: $tablet)                         { @content; }
    }
     @else if $point == ipad {//max-width = 768px
        @media (max-width: $ipad)                         { @content; }
    }
    @else if $point == iPhone {//max-width = 767px
        @media (max-width: $iPhone)                         { @content; }
    }
    @else if $point == iPhoneS {//max-width = 414px
        @media (max-width: $iPhoneS)                         { @content; }
    }
    @else if $point == mobile {//max-width = 375px
        @media (max-width: $mobile)                         { @content; }
    }
    @else if $point == mobile--Small {//max-width = 360px
        @media (max-width: $mobile--Small)                  { @content; }
    }
    @else if $point == mobile--Smallest {//max-width = 320px
        @media (max-width: $mobile--Smallest)               { @content; }
    }
    @else if $point == exeptGadgets {
        @media (min-width: $tablet + 1)                     { @content; }
    }
}


//------MEDIA QUERIES   1rem - 10px

$desktop--Biggest : 1920px;
$desktop--Big     : 1600px;
$desktop--Large   : 1536px;    //   1700 / 16px = 106.25rem


$desktop          : 1440px;   
$desktop--Small   : 1280px;    //   1200 / 16px = 75rem
$ipad--Landscape  : 1024px;
$ipad             : 768px;
$tablet           : 800px;    //   1023 / 16px = 64rem
$iPhone           : 415px;
$iPhoneS          : 412px;
$mobile           : 376px;     //   767 / 16px = 48rem
$mobile--Small    : 360px;     //   360 / 16px = 22.5rem
$mobile--Smallest : 320px;     //   320 / 16px = 20rem


// ORDER: Base + typography > general layout + grid > page layout > components