@mixin  sectionTitle {
    font-family: $fontMont;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: $sectionTitle;
    padding-top: 1rem;
   
}

