@mixin  sectionTitle {
    font-family: $fontMont;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: $sectionTitle;
    padding-top: 1rem;

    @include breakpoint(iPhone) {
        font-weight: 400;
    }
   
}

