// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//COLORS

$primaryColor: #6b00b3;
$navColor: #ffffff;
$linksColor: #6b00b3;

$mainTitleColor: #85f8e1;
$textWhite: #ffffff;
$sectionTitle: #7bc0da;
$homeButtonsColor: #7a00cc;
$homeButtonsBorder: #99ffeb;

//FONTS

$fontMont: "Montserrat", sans-serif;




