// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//COLORS

$primaryColor:#4f44a8;
$navColor: #ffffff;
$linksColor:#4f44a8;

$mainTitleColor: #85f8e1;
$textWhite: #ffffff;
$sectionTitle:#41DFD0;
$homeButtonsColor: #4f49aa;
$homeButtonsBorder:white;

//FONTS

$fontMont: "Montserrat", sans-serif;





