

.kontakt {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:  rgba(107, 0, 179, 0.753);

  @include breakpoint(desktop--Small) {
    justify-content: space-evenly;
  } 
  
  @include breakpoint(tablet) {
    height: 35vh;
  }
  @include breakpoint(iPhone) {
    flex-direction: column;
    height: 100%;
    
  }

  &_left {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    text-align: center;
    margin-top: 5rem;

    @include breakpoint(iPhone) {
      margin-bottom: 5rem;
    }
    
  
  }

  &_details {
    display: flex;
    align-items: center;

    @include breakpoint(iPhone)  {
      flex-direction: column;
    }
    
  }

  &_icons {
    font-family: $fontMont;
    font-size: 1.6rem;
    color:#99ffeb;
    padding-right:2rem;


    @include breakpoint(iPhone) {
      display: flex;
      padding-right: 0;
    }
  }

  &_icons i {
    margin-right: 1rem;
    line-height: 5rem;
  }

  &_icons h6 {
    font-size: 1.6rem;
    font-weight: 500;

    &:not(:last-child) {
      padding-right: 20px;
    }

    
  }

  &_icons .hide {

    @include breakpoint(iPhone) {
      display: none;
    }
    
  }
}

#gmap_canvas {
  width: 340px;
  height: 250px;
  opacity: 0.8;

  @include breakpoint (iPhone) {
    width: 310px;
    height: 150px;
    margin: 20px 0;
  }

  @include breakpoint (mobile--Smallest) {
    width: 280px;
  }
}

.footer-text {
  height: 8vh;
  background-color: #4cabcdce;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $fontMont;
  font-size: 1.5rem;
  font-weight: 400;
  color:white;

  
  
}

.link-hidden {
  visibility: hidden;
 }
