.kontakt {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#20c5c5 0%, #4f44a8 100%);
  @include breakpoint(desktop--Small) {
    justify-content: space-evenly;
  }

  @include breakpoint(tablet) {
    height: 35vh;
  }
  @include breakpoint(iPhone) {
    flex-direction: column;
    height: 100%;
  }

  &_left {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    text-align: center;
    margin-top: 5rem;

    @include breakpoint(iPhone) {
      margin-bottom: 5rem;
    }
  }

  &_details {
    display: flex;
    align-items: center;

    @include breakpoint(iPhone) {
      flex-direction: column;
    }
  }

  &_icons {
    font-family: $fontMont;
    font-size: 1.6rem;
    color: #99ffeb;
    padding-right: 2rem;

    @include breakpoint(iPhone) {
      display: flex;
      padding-right: 0;
    }
  }

  &_icons i {
    margin-right: 1rem;
    line-height: 5rem;
  }

  &_icons h6 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;

    &:not(:last-child) {
      padding-right: 20px;
    }
  }

  & a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    color: #99ffeb;
  }

  &_icons .hide {
    @include breakpoint(iPhone) {
      display: none;
    }
  }

  &_links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #453b91;

    &_link {
      display: flex;
      text-decoration: none;
      z-index: 999;
    }

    img {
      width: 15px;
      vertical-align: middle;
    }

    p {
      font-family: $fontMont;
      font-size: 1.5rem;
      font-weight: 400;
      color: #f8f7f7c0;
      padding-right: 1rem;

      
    }

    &_text {
      @include breakpoint(iPhone) {
        display: none;
      }
    }
  }
}

#gmap_canvas {
  width: 340px;
  height: 250px;
  opacity: 0.7;

  @include breakpoint(iPhone) {
    width: 310px;
    height: 150px;
    margin: 20px 0;
  }

  @include breakpoint(mobile--Smallest) {
    width: 280px;
  }
}

.footer-text {
  height: 6vh;
  background-color: #453b91;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $fontMont;
  font-size: 1.5rem;
  font-weight: 400;
  color: #f8f7f7c0;
  margin-left: 20rem;
  margin-right: 20rem;

  

  @include breakpoint(tablet) {
    margin-left: 2rem;
    margin-right: 0;
  }

  @include breakpoint(iPhone) {
    margin-left: 5rem;
    margin-right: 2rem;
  }

  @include breakpoint(mobile) {
    margin-left: 4rem;
    margin-right: 1rem;
  }

  &::before {
    content: "-";
    color: #20c5c5;
    font-size: 70px;
    font-weight: 200;
    transform: rotate(90deg);
    margin-right: 20rem;

    @include breakpoint(tablet) {
      margin-right: -2rem;
    }
    @include breakpoint(iPhone) {
      margin-right: 3rem;
    }
    @include breakpoint(mobile) {
      font-size: 60px;
    }
  }

  &::after {
    content: "-";
    color: #20c5c5;
    font-size: 70px;
    font-weight: 200;
    transform: rotate(90deg);
    margin-left: 22rem;

    @include breakpoint(tablet) {
      margin-left: 0;
      
    }
    @include breakpoint(iPhone)  {
      margin-left: 5rem;
    }
    @include breakpoint(mobile) {
      font-size: 60px;
    }
    
  }
}

.link-hidden {
  visibility: hidden;
}
