nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgb(255,255,255);
  height: 10vh;

  @include breakpoint(desktop) {
    height: 8vh;
  }

  @include breakpoint(desktop--Small) {
    height: 8vh;
  }

  


  ul {
    display: flex;
    list-style: none;
    margin-right: 5rem;

    @include breakpoint(iPhone) {
      display: none;
    }
  }

  li {
    text-transform: uppercase;
    padding-right: 80px;
    font-family: $fontMont;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: .1rem;

    :hover {
      color: rgba(92, 0, 153, 0.7);
      cursor: pointer;
    }
  }

  li a {
    text-decoration: none;
    color: $linksColor;
  }
}

.logo {
  width: 8rem;
  margin-left: 13rem;

  @include breakpoint(iPhone) {
    margin-left: 6rem;
  }
}


/*  mobile nav icon */


.mobile-nav-icon {
  display: none;

  @include breakpoint(iPhone) {
    display: block;
  
  }

  &_img {
    width: 5rem;
    margin-right: 6rem;
  }
}

.closebtn {
  display: none;

  @include breakpoint(iPhone) {
    display: block;
  }

  &_img {
    position: absolute;
    width: 5rem;
    right: 6rem;
    top: 1rem;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  
  
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;


  

  &_links {
    height: 21rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1.5rem solid $primaryColor;
    padding-left: 3rem;

    @include breakpoint(mobile) {
      border-left: 1rem solid $primaryColor;
      padding-left: 2rem;
    }
 
    
  }

  &_no-padding-bottom {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  

  
  
}

// .overlay-content img {
 

//   position: absolute;
//   bottom: 0;
// }
.overlay a {
  font-family: $fontMont;
  text-transform: uppercase;
  padding: .8rem;
  text-decoration: none;
  font-size: 3.6rem;
  color: #6b00b3;
  transition: 0.3s;
  line-height: 10rem;
}

