nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgb(255,255,255);
  height: 10vh;
  box-shadow: 0 5px 5px #efefef;

  @include breakpoint(desktop) {
    height: 8vh;
  }
  @include breakpoint(desktop--Smaller) {
    height: 10vh;
  }
  @include breakpoint(desktop--Small) {
    height: 9vh;
  }
  @include breakpoint (ipad--Landscape) {
    height: 6vh;
  }

  @include breakpoint(tablet) {
    height: 5vh;
  }
  @include breakpoint(iPhone) {
    height: 8vh;
    border-top: .2rem solid  #99ffeb;
    box-shadow: inset 0px 6px 3px -3px #efefef, inset 0px -5px 3px -3px #efefef, 
    
  }
  @include breakpoint(desktop--Big) {
    height: 8vh;
  }


  

  ul {
    display: flex;
    list-style: none;
    margin-right: 5rem;

    @include breakpoint(tablet) {
      margin-right: 0;
    }

    @include breakpoint(iPhone) {
      display: none;
    }
  }

  li {
    text-transform: uppercase;
    padding-right: 8rem;
    font-family: $fontMont;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: .1rem;

    :hover {
      color: rgba(92, 0, 153, 0.7);
      cursor: pointer;
    }
    :active {
      color: rgba(92, 0, 153, 0.7);
      
    }
  }

  li a {
    text-decoration: none;
    color: $linksColor;
  }
}

.logo {
  width: 8rem;
  margin-left: 13rem;

  @include breakpoint(tablet) {
    margin-left: 3rem;
  }

  @include breakpoint(iPhone) {
    margin-left: 4rem;
  }
}


/*  mobile nav icon */


.mobile-nav-icon {
  display: none;

  @include breakpoint(iPhone) {
    display: block;
  
  }

  &_img {
    width: 4.5rem;
    margin-right: 5rem;
  }
}

.closebtn {
  display: none;

  @include breakpoint(iPhone) {
    display: block;
  }

  &_img {
    position: absolute;
    width: 4.5rem;
    right: 5rem;
    top: 2.5rem;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 333;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  border-top: .2rem solid  #99ffeb;
    box-shadow: inset 0px 6px 3px -3px #efefef;
    transition: all .5s ease-in-out;
}


.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;


  

  &_links {
    height: 21rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: .7rem solid $primaryColor;
    padding-left: 3rem;

    @include breakpoint(mobile) {
      border-left: .5rem solid $primaryColor;
      padding-left: 2rem;
    }
 
    
  }

  &_no-padding-bottom {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  

  
  
}


.overlay a {
  font-family: $fontMont;
  text-transform: uppercase;
  padding: .8rem;
  text-decoration: none;
  font-size: 3.6rem;
  color: #6b00b3;
  line-height: 10rem;
  transition: 0.3s;
}


