
// Animations for the home page


@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@media(max-width: 415px) {


  @keyframes moveInTop {
    0% {
      opacity: 0;
      transform: translateY(-15rem);
    }

  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }

}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }

  100% {
    opacity: 0.4;
    transform: translate(0);
   
  }
}



