
.about-race {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8f7f7c0;
  border-right: 2rem solid  #20c5c5;

  @include breakpoint(desktop) {
    height: 92vh;
  }
  @include breakpoint(desktop--Smaller) {
    height: 90vh;
  }
  @include breakpoint(desktop--Small) {
    height: 92vh;
  }
  @include breakpoint(ipad--Landscape) {
    height: 94vh;
  }
  @include breakpoint(tablet) {
    height: 55vh;
  }
  @include breakpoint(iPhone) {
    height: 100%;
    flex-direction: column-reverse;
    border-right: none;
  }
  @include breakpoint(desktop--Big) {
    height: 92vh;
  }

  &_right {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    text-align: center;

    @include breakpoint(iPhone) {
      margin: 3rem 0;
    }
  }

  &_text {
    font-family: $fontMont;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
    width: 80rem;
    color: #5b5b5b;
    background-color: #f8f7f7c0;
    border: 1px solid rgba(107, 0, 179, 0.753);
    border-radius: 1rem;
    padding: 4rem;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);

    @include breakpoint(iPhone) {
      width: 45rem;
      padding: 2rem;
      margin-bottom: 15rem;
      font-size: 15px !important;
      line-height: 24px !important;
    }
  }
  a {
    font-size: 11px;
  }
}

.single-item3 {
  
  &_box3 {
    outline: none;
  }
}
.single-item3 .next.slick-arrow, 
.single-item3 .previous.slick-arrow  {
  width: 30px;
  z-index: 333;
  
}


