
.gallery {
  padding-bottom: 17rem;
  padding-right: 12rem;
  padding-left: 12rem;
  background-color: #f8f7f7c0;


  @include breakpoint(iPhone) {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 6px;
  }
  
  &_center {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 1rem;

    @include breakpoint (ipad--Landscape) {
      
      margin-bottom: 4rem;
    }
    @include breakpoint (iPhone) {
      padding-top: 3rem;
      margin-bottom: 3rem;
    }
    @include breakpoint(mobile--Smallest) {
      margin-bottom: 4rem;
    }
  }
}

.single-item {

  &_box {
  border: none;
  outline: none;
  }


  
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px; 
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 3px;
}

.column img {
  margin-top: 6px;
  vertical-align: middle;
  width: 100%;
  border-radius: 1rem;
  
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 415px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.hidden {
  @include breakpoint(iPhone) {
    display: none;
  }
}


