.kontakt2 {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8f7f7c0;
  border-right: 2rem solid rgba(107, 0, 179, 0.753);

  @include breakpoint(desktop) {
    height: 92vh;
  }

  @include breakpoint(desktop--Small) {
    height: 100%;
  }

  @include breakpoint(iPhone) {
    flex-direction: column;
    border-right: none;
  }

  &_center {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    text-align: center;

    @include breakpoint(iPhone) {
      margin: 3rem 0 6rem 0;
    }
  }

  &_details {
    display: flex;
    align-items: center;
  }

  &_icons {
    font-family: $fontMont;
    font-size: 1.6rem;
    color: #99ffeb;
  }

  &_icons i {
    margin-right: 1rem;
    line-height: 5rem;
  }

  &_icons h6 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  &_send {
    background-color: $primaryColor;
    font-family: $fontMont;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    padding: 1.5rem;
    letter-spacing: .1rem;
    border: .1rem solid #99ffeb;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    width: 20%;
  }
}

.kontakt2-form {
  position: relative;
  width: 80rem;
  border-radius: 5px;
  background-color:  #f8f7f7c0;
  padding: 54px 70px 90px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  font-family: $fontMont;
  font-size: 1.5rem;
  font-weight: 600;
  color:  #4cabcdce;
  border: 1px solid #4cabcdce;

  @include breakpoint(desktop--Small) {
    margin: 16.85rem 0;
  }

  @include breakpoint (tablet) {
    margin: 12.4rem 0;
  }

  @include breakpoint(iPhone) {
    width: 45rem;
    margin: 0 0 8rem 0;
    padding: 40px 20px 60px;
    
  }
}

input[type="text"],
select,
textarea {
  width: 100%;
  border-bottom: 1px solid #4cabcdce;
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  margin-bottom: 35px;
  resize: vertical;
  outline: none;
  background-color: transparent;
  color: grey;
  font-family: $fontMont;
  font-size: 1.3rem;
  font-weight: 400;
}
input[type="text"] {
  width: 350px;
  margin-left: 25px;

  @include breakpoint(ipad--Landscape) {
    width: 250px; 
  }
  
}

.kontakt2-form-email {
  margin-left: 12px !important;

  @include breakpoint(desktop--Small) {
    margin-left: 15px !important;
  }
}


textarea {
  min-height: 230px;
  max-height: 230px;
  margin-top: 15px;
  border: 1px solid #4cabcdce;
  border-radius: 5px;
  padding: 10px;
}

input[type="submit"] {
  position: absolute;
  right: 70px;
  bottom: 37px;
  background-color: rgba(107, 0, 179, 0.753);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

