.news {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e696;
    border-right: 2rem solid rgba(107, 0, 179, 0.753);
  
    &_center {
      width: 20rem;
      height: 17rem;
      margin: 0 auto;
      text-align: center;
      padding-top: 1rem;
      margin-bottom: 4rem;
      background-color: rgba(107, 0, 179, 0.753);
    }
  
    &_box {
      display: flex;
      justify-content: space-evenly;
      margin-top: 3rem;
  
      &_left {
        width: 50rem;
      }
  
      &_right {
        width: 50rem;
      }
    }
    &_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
  
      &-image {
        width: 8rem;
        border: 1px solid #41dfd0;
        border-radius: 50%;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
      }
  
      &_text {
        display: flex;
        flex-direction: column;
        color: rgba(107, 0, 179, 0.753);
        padding: 2rem;
        border: 1px solid #41dfd0;
        border-radius: 1rem;
        margin-top: 2rem;
        margin-bottom: 7rem;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  
        &-title {
          font-family: $fontMont;
          font-size: 1.8rem;
          font-weight: 700;
          padding-bottom: 1rem;
        }
        &-text {
          font-family: $fontMont;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 2.5rem;
        }
      }
    }
  }