.news {
    display: flex;
    flex-direction: column;
    background-color:  #f8f7f7c0;
  
  
    &_center {
      width: 20rem;
      height: 17rem;
      margin: 0 auto;
      text-align: center;
      padding-top: 2rem;
      margin-bottom: 4rem;

      @include breakpoint(iPhone) {
        margin-bottom: 12rem;
        padding-top: 3rem;
      }
      
    }
  
    &_box {
      display: flex;
      justify-content: space-evenly;
      margin-top: 3rem;

      @include breakpoint(iPhone) {
        flex-direction: column;
        margin: 0 auto;
      }
  
      &_left {
        width: 45rem;
        margin: 0 auto;
      }
  
      &_right {
        width: 45rem;
        margin: 0 auto;
      }
    }
    &_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
  
      &-image {
        width: 8rem;
        border: 1px solid #41dfd0;
        border-radius: 50%;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
      }
  
      &_text {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border: 1px solid #41dfd0;
        border-radius: 1rem;
        margin-top: 2rem;
        margin-bottom: 7rem;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        text-align: justify;

        &-share {
          display: flex;
          justify-content: space-between;

          a {
            margin-right: 2rem;
          }

        }

        &-title {
          font-family: $fontMont;
          font-size: 1.8rem;
          font-weight: 700;
          padding-bottom: 1rem;
          color:  #5b5b5b;

          @include breakpoint(iPhone) {
            font-size: 15px !important;
          }
        }
        &-text {
          font-family: $fontMont;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 2.5rem;
          color: #5b5b5b;

          @include breakpoint(iPhone) {
            font-size: 14px !important;
      line-height: 24px !important;
          }

          
        }
      }
    }
  }