.video {
  
  background-color: #f8f7f7c0;
  padding-bottom: 8rem;

  &_center {
    width: 20rem;
    height: 18.5rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;

    @include breakpoint(desktop) {
      margin-bottom: 7rem;
    }
    @include breakpoint(desktop--Smaller) {
      margin-bottom: 0;
    }
  }

  &_gallery {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    border: none;
    padding-top: 6rem;

    @include breakpoint (desktop--Smaller) {
      padding-top: 4rem;
    }

    @include breakpoint(ipad--Landscape) {
      width: 80%;
    }
    @include breakpoint(tablet) {
      width: 45%;
      height: 65%;
      flex-direction: column;
    }

    @include breakpoint (iPhone) {
      width: 78%;
      padding-top: 8rem;
      
    }
    @include breakpoint (mobile--Big) {
      width: 86%;
    }
    @include breakpoint (mobile) {
      width: 89%;
    }
    @include breakpoint (mobile--Smallest) {
      width: 100%;
    }
  }

}
iframe {
  
  border: none;
  border-radius: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @include breakpoint(desktop--Big) {
    width: 420px;
    height: 315px;
  }

  &:not(:last-child) {
    @include breakpoint(iPhone) {
      margin-bottom: 9rem;
    }
  }
}
